[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"
coveralls = "*"
docutils = "*"
Sphinx = "*"
sphinx-autodoc-typehints = "*"

[packages]
lxml = "*"
pytz = "*"

[requires]
python_version = "3.7"
